<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>180a</key>
	<dict>
		<key>2a28</key>
		<dict>
			<key>name</key>
			<string>softwareRevision</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>2a27</key>
		<dict>
			<key>name</key>
			<string>hardwareRevision</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>2a24</key>
		<dict>
			<key>name</key>
			<string>modelNumber</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>2a29</key>
		<dict>
			<key>name</key>
			<string>manufacturerName</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>2a25</key>
		<dict>
			<key>name</key>
			<string>serialNumber</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</dict>
	<key>180f</key>
	<dict>
		<key>2a19</key>
		<dict>
			<key>isObservable</key>
			<true/>
			<key>name</key>
			<string>batteryLevel</string>
			<key>type</key>
			<string>integer</string>
		</dict>
	</dict>
	<key>1802</key>
	<dict>
		<key>2a06</key>
		<dict>
			<key>name</key>
			<string>alertLevel</string>
			<key>type</key>
			<string>integer</string>
		</dict>
	</dict>
	<key>1803</key>
	<dict>
		<key>2a06</key>
		<dict>
			<key>name</key>
			<string>linkLossLevel</string>
			<key>type</key>
			<string>integer</string>
		</dict>
	</dict>
	<key>1804</key>
	<dict>
		<key>2a07</key>
		<dict>
			<key>name</key>
			<string>txPower</string>
			<key>type</key>
			<string>integer</string>
		</dict>
	</dict>
</dict>
</plist>
